/* Modules */

@import 'styles/ability-card.css';
@import 'styles/block.css';

.flex-basis-0 {
  flex-basis: 0;
}

.vr {
  min-width: 1px;
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
}

input[disabled] ~ label,
input[disabled] ~ span {
  color: gray;
}

.save-score,
.ability-card {
  .skill-score {
    display: inline-block;
    min-width: 20px;
    text-align: end;
  }
}

.proficiency {
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;

  input {
    height: 55px;
    width: 55px;
  }
}

.inspiration {
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;

  input {
    height: 25px;
    width: 25px;
  }
}

.block {
  .armors {
    padding-bottom: 7px;

    label {
      font-size: 0.9em;
    }
  }

  .weapons,
  .tools {
    border-top: 2px solid black;
  }
}
