[data-abstract-select] select.form-control-select {
  --y-padding: 0.1em;
  --background-size: 20px;
  --background-x-padding: 0.1em;

  display: block;
  border: none;
  padding: var(--y-padding) 0;
  width: 100%;

  padding-right: calc(var(--background-size) + var(--background-x-padding) * 2);
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: var(--background-size);
  background-position: right var(--background-x-padding) center;
  background-color: var(--bs-body-bg);

  &:disabled {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236c757d'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3e%3c/svg%3e");
  }
}
