ability-card .ability-card {
  --inner-width: 2px;
  --outer-width: 1px;
  --margin: 10px; /* profondeur des décrochements */
  --offset: calc(var(--margin) / 2);
  --border-color: var(--bs-border-color);

  .ability-card-header,
  .ability-card-content,
  .ability-card-footer {
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      inset: 0;
      pointer-events: none;
    }
  }

  .ability-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em calc(var(--margin) + var(--inner-width) + 0.5em);
    border-top: var(--inner-width) solid var(--border-color);

    label.title {
      width: 100%;
      position: relative;
      padding: 2px 12px 3px 12px;
      text-align: center;

      &:before {
        --border-width: 1px;
        --corner-width: 11px;

        content: '';
        position: absolute;
        inset: 0;
        pointer-events: none;

        width: calc(100% + 20px);
        left: -10px;

        background: var(--bs-border-color);
        mask: radial-gradient(
              var(--corner-width) at var(--corner-width) var(--corner-width),
              #0000 calc(98% - var(--border-width)),
              #000 calc(100% - var(--border-width)) 98%,
              #0000
            )
            calc(0px - var(--corner-width)) calc(0px - var(--corner-width)),
          linear-gradient(#000 calc(var(--border-width) * 2), #0000 0) 50%
            calc(0px - var(--border-width)) /
            calc(100% - calc(var(--corner-width) * 2) + var(--border-width))
            100% repeat-y;
      }
    }

    &:last-child {
      border-bottom: var(--inner-width) solid var(--border-color);
    }

    &:before {
      margin: 0 var(--margin);
      border-left: var(--inner-width) solid var(--border-color);
      border-right: var(--inner-width) solid var(--border-color);
    }

    &:after {
      margin: 0 var(--offset);
      border-left: var(--outer-width) solid var(--border-color);
      border-right: var(--outer-width) solid var(--border-color);
    }
  }

  .ability-card-header,
  .ability-card-footer {
    height: var(--margin);

    &:before {
      margin: 0 var(--margin);
      border-left: var(--inner-width) solid var(--border-color);
      border-right: var(--inner-width) solid var(--border-color);
    }
    &:after {
      height: var(--offset);
      left: var(--offset);
      right: var(--offset);
      border-left: var(--outer-width) solid var(--border-color);
      border-right: var(--outer-width) solid var(--border-color);
    }
  }

  .ability-card-header:after {
    top: var(--offset);
    border-top: var(--outer-width) solid var(--border-color);
  }

  .ability-card-footer:after {
    border-bottom: var(--outer-width) solid var(--border-color);
  }

  .form-check {
    width: 100%;
    margin: 0;
    font-size: 0.9em;
    display: flex;
    gap: 4px;
    align-items: center;
    min-height: 0;
  }

  .form-check .skill-check.expert:checked {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='%23fff' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10 1.5l2.59 5.25 5.79.84-4.19 4.08.99 5.77L10 14.9 4.82 17.44l.99-5.77L1.62 7.59l5.79-.84L10 1.5z'/%3e%3c/svg%3e");
  }

  .values {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .ability-modifier {
      text-align: center;
      height: 55px;
      width: 55px;
    }

    .ability-score {
      width: 3rem;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
