<template>
  <div class="ability-card">
    <div class="ability-card-header"></div>

    <div class="ability-card-content">
      <label data-wc-id="label" class="text-center title"></label>
      <div class="values">
        <input disabled class="form-control ability-modifier" placeholder="+0" />
        <input class="form-control border-start-0 rounded-0 rounded-end ability-score" placeholder="10" />
      </div>
    </div>

    <div class="ability-card-content">
      <div class="form-check">
        <input disabled type="checkbox" class="form-check-input save-check" />
        <span class="save-score"></span>
        <label class="save-label"></label>
      </div>
    </div>

    <!-- TODO: Use slot ? -->
    <div class="skills"></div>

    <div class="ability-card-footer"></div>
  </div>
</template>